@mixin flex-center($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
  }
  
  @mixin responsive-heading($min, $mid, $max) {
    font-size: clamp(#{$min}, #{$mid}, #{$max});
  }
  
  @mixin theme-icon($src-var) {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(#{$src-var});
  }
  