* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --html-bg: #FFF1E9;
  --css-bg: #E0FDEF;
  --js-bg: #EBF0FF;
  --accessibility-bg: #F6E7FF;
  --text-color: #313E51;
  --text-color-p: #626C7F;
  --purple: #A729F5;
  --bg-col: white;
  --button-bg: white;
  --option-bg: #F4F6FA;
  --option-color: #626C7F;
  --correct-color: #26D782;
  --invalid-color: #EE5454;
  --bg: url("./assets/images/pattern-background-mobile-light.svg");
  --sun-src: url("./assets/images/icon-sun-dark.svg");
  --moon-src: url("./assets/images/icon-moon-dark.svg");
}

[data-theme=dark] {
  --text-color: #FFF;
  --text-color-p: #ABC1E1;
  --bg-col: #313E51;
  --button-bg: #3B4D66;
  --bg: url("./assets/images/pattern-background-mobile-dark.svg");
  --sun-src: url("./assets/images/icon-sun-light.svg");
  --moon-src: url("./assets/images/icon-moon-light.svg");
}

button {
  background-color: var(--button-bg);
  cursor: pointer;
  color: var(--text-color);
  font-size: 1.125rem;
  font-weight: 500;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: start;
  width: 100%;
  gap: 1rem;
  border-radius: 0.75rem;
  border: 0;
  padding: 0.75rem;
  box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  background-color: var(--bg-col);
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 10px;
  justify-content: flex-end;
  margin-top: 75px;
}
.theme-toggle__icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.theme-toggle__icon--sun {
  background-image: var(--sun-src);
}
.theme-toggle__icon--moon {
  background-image: var(--moon-src);
}
.theme-toggle__switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}
.theme-toggle__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.theme-toggle__checkbox:checked + .theme-toggle__slider {
  background-color: #a020f0;
}
.theme-toggle__checkbox:checked + .theme-toggle__slider::before {
  transform: translateX(24px);
}
.theme-toggle__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.theme-toggle__slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  top: 3px;
  left: 3px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.start-menu {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  padding: 2.5rem 4rem;
}
.start-menu .start-menu__intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
}
.start-menu .start-menu__intro h1 {
  color: var(--text-color);
  font-weight: 300;
  font-size: clamp(2.5rem, 1.972rem + 2.25vw, 4rem);
}
.start-menu .start-menu__intro h1 span {
  font-weight: 500;
}
.start-menu .start-menu__intro p {
  color: var(--text-color-p);
  font-style: italic;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.start-menu .start-menu__choices {
  display: flex;
  flex-direction: column;
  width: 56rem;
  height: 28rem;
  gap: 1.5rem;
}
.start-menu .start-menu__choices button {
  font-size: 1.75rem;
  font-weight: 600;
}
.start-menu .start-menu__choices img {
  border-radius: 0.75rem;
  padding: 0.15rem;
  background-color: var(--html-bg);
  display: block;
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
